<ion-card>

  <ion-card-header class="ion-text-center"><h3>Sign Up</h3></ion-card-header>
  <form>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input color="warning" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item> 
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <div class="ion-activatable parent-ripple">

      <ion-button color="warning" shap="round" expand="block">CREATE ACCOUNT</ion-button>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </div>
    
  </form>

  <div class="ion-text-center mt-3 mb-3">
Or Sign Up using  
  </div>

  <div class="d-flex justify-content-center mt-3">
    
    <div class="justify-content-center d-flex p-2">
      <a href="#" class="signup100-social-item bg1">
        <i class="fa fa-facebook"></i>
      </a>
  
      <a href="#" class="signup100-social-item bg2">
        <i class="fa fa-twitter"></i>
      </a>
  
      <a href="#" class="signup100-social-item bg3">
        <i class="fa fa-google"></i>
      </a>
    </div>
  </div>

</ion-card>